<div dir="rtl" class="text-right" style="padding-top: 3%">
  <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="5%" fxLayoutAlign="center">
    <div fxFlex="25%">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"><i class="fa fa-user" style="size: 7x;"></i></div>
          <mat-card-title>{{ myvolunteer.Name }}</mat-card-title>
        </mat-card-header>
        <mat-card-content class="card-body">
          <p>טלפון: {{ myvolunteer.Telephone }}</p>
          <p>פלאפון: {{ myvolunteer.Pelephone | phone }}</p>
          <p>כתובת: {{ myvolunteer.Address }}</p>
          <p>מייל: {{ myvolunteer.Email }}</p>
          <p>יום הולדת: {{ myvolunteer.Age | date:"MMMM dd yyyy" }}</p>
          <p>פעילה:
            <span *ngIf="myvolunteer.IsActive">
              <i class="fa fa-check"></i>
            </span>
            <span *ngIf="!myvolunteer.IsActive">
              <i class="fa fa-times"></i>
            </span>
          </p>
          <header>קטגוריות</header>
          <div *ngFor="let c of categories">
            <li>
              {{c.Name}}</li>
          </div>
          <mat-card-actions>
            <button mat-raised-button class="example-action-button" (click)="VolunteeropenDialog()">לעריכת
              הפרטים</button>
          </mat-card-actions>

        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex="75%">
      <button hidden (click)="tabs.selectedIndex = 0">RESET</button>
      <mat-tab-group #tabs>
        <mat-tab></mat-tab> <!-- ADDITIONAL TAB -->
        <mat-tab label="משפחות">
          <app-all-families [vId]="vId"></app-all-families>
        </mat-tab>
        <mat-tab label="ארגונים">
          <app-all-organizations></app-all-organizations>
        </mat-tab>
        <mat-tab label="ארועים">
          <app-all-events></app-all-events>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>