
*.config
*.cache
*.dll
*.exe
*.pdb
/build/
*.suo
*.user
_ReSharper.*/
*.sdf
*.opensdf
*.tlog
*.log
*.xml
*.cache
*.rsp
*.targets
*.cache
*.cache
Matnas/.vs/Matnas/v16/.suo
*.mdf
Matnas/.vs/Matnas/v16/.suo
*.cache
*.txt
packages
Matnas/packages/EntityFramework.6.1.3/Content/App.config.transform
Matnas/Dal/obj/Debug/edmxResourcesToEmbed/Matnath.ssdl
Matnas/Dal/obj/Debug/edmxResourcesToEmbed/Matnath.msl
Matnas/Dal/obj/Debug/edmxResourcesToEmbed/Matnath.csdl
Matnas/Dal/obj/Debug/Dal.csproj.CopyComplete
Matnas/Bll/obj/Debug/Bll.csproj.CopyComplete
