/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import '~font-awesome/css/font-awesome.css';
@import '~material-design-icons/iconfont/material-icons.css';
@import '~saturn-datepicker/bundle.css';
*:focus {
  outline: none !important
}

body {
  direction: rtl;
}

.fullscreen {
  width: 100%;
  position: relative;
  /* height: calc(93vh - (50px + 50px)); */
  /* background-color: gray; */
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.wf-loading mat-icon {
  display: none;
}

html, body {
  height: 100%;
}

.mat-form-field {
  font-size: medium !important;
}

.mat-input-element {
  min-height: 32px;
}

p {
  text-overflow: ellipsis;
  word-break: break-all;
  overflow: hidden;
  white-space: nowrap;
}

p:hover {
  overflow: visible;
  white-space: normal;
}

table {
  width: 100%;
}

tr.example-detail-row {
  height: 0 !important;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: #777;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0 !important;
}

.example-element-detail {
  overflow: hidden;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

.mat-header-cell {
  text-align: right !important;
  flex-direction: column;
  flex: 0 0 75px;
  justify-content: right;
  font-weight: bolder;
  font-size: large;
  display: table-cell;
}

.mat-cell {
  text-align: right;
  justify-content: right;
  word-wrap: break-word !important;
  white-space: pre !important;
  flex: 0 0 5% !important;
  width: 5% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-tab-labels>.mat-tab-label:first-child {
  display: none !important;
}