/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import '~font-awesome/css/font-awesome.css';
@import '~material-design-icons/iconfont/material-icons.css';
@import '~saturn-datepicker/bundle.css';
*:focus {
  outline: none !important
}

.fullscreen {
  width: 100%;
  position: relative;
  /* height: calc(93vh - (50px + 50px)); */
  /* background-color: gray; */
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.wf-loading mat-icon {
  display: none;
}

html, body {
  height: 100%;
}

.mat-form-field {
  font-size: medium !important;
}

.mat-input-element {
  min-height: 32px;
}

p {
  text-overflow: ellipsis;
  word-break: break-all;
  overflow: hidden;
  white-space: nowrap;
}

p:hover {
  overflow: visible;
  white-space: normal;
}