<div dir="rtl" class="text-right" style="padding-top: 1%">
  <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="3%" fxLayoutAlign="center">
    <!-- <div fxFlex="20%"> -->
    <mat-card>
      <mat-toolbar>
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"><i class="fa fa-user" style="size: 7x;"></i></div>
          <mat-card-title>{{ myOrganization.Name }}</mat-card-title>
        </mat-card-header>
      </mat-toolbar>
      <mat-card-content>
        <p>איש קשר: {{myOrganization.Contact}}</p>
        <p>פלאפון: {{myOrganization.Phone}}</p>
        <p>כתובת: {{myOrganization.Address}}</p>
        <p>הערות: {{myOrganization.Comments}}</p>
        <p>מייל: {{myOrganization.email}}</p>
        <header *ngIf="categories.length > 0">קטגוריות</header>
        <div *ngFor="let c of categories">
          <li>
            {{c.Name}}</li>
        </div>
        <mat-card-actions>
          <button mat-raised-button (click)="OrganizationOpenDialog()">לעריכת
            הפרטים</button>
        </mat-card-actions>

      </mat-card-content>
    </mat-card>
    <!-- </div> -->
    <div *ngIf="toV != true">
      <button hidden (click)="tabs.selectedIndex = 0">RESET</button>
      <mat-tab-group #tabs>
        <mat-tab></mat-tab> <!-- ADDITIONAL TAB -->
        <mat-tab label="מתנדבות">
          <app-all-volunteers></app-all-volunteers>
        </mat-tab>
        <mat-tab label="משפחות">
          <app-all-families></app-all-families>
        </mat-tab>
        <mat-tab label="ארועים">
          <app-all-events></app-all-events>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>