<span dir="rtl">
  <mat-toolbar style="width: 100% !important; z-index: 2;">
    <span *ngIf="!data.update" mat-dialog-title>הוספת ארגון</span>
    <span *ngIf="data.update" mat-dialog-title>עדכון ארגון</span>
  </mat-toolbar>
  <mat-dialog-content>
    <form (ngSubmit)="submitForm(organizationForm)" class="text-right" #organizationForm="ngForm">
      <div class="form-group">
        <mat-form-field appearance="outline">
          <mat-hint>שם</mat-hint>
          <input matInput (focus)="$event.target.select()" maxlength="10" [(ngModel)]="newOrganization.Name" name="Name"
            required>
          <mat-icon matPrefix>person</mat-icon>
        </mat-form-field>
        <br />
        <mat-form-field appearance="outline">
          <mat-hint>איש קשר</mat-hint>
          <input matInput (focus)="$event.target.select()" maxlength="10" [(ngModel)]="newOrganization.Contact" name="Contact"
            required>
          <mat-icon matPrefix>person</mat-icon>
        </mat-form-field>
        <br />
        <mat-form-field appearance="outline">
          <mat-hint>מייל</mat-hint>
          <input matInput (focus)="$event.target.select()" placeholder="organization@example.com" required email
            [(ngModel)]="newOrganization.email" name="Email">
          <mat-icon matPrefix>email</mat-icon>
          <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        <br />
        <mat-form-field appearance="outline">
          <mat-hint>טלפון</mat-hint>
          <input matInput (focus)="$event.target.select()" placeholder="050-525-2525" appPhoneMask
            [(ngModel)]="newOrganization.Phone" name="Telephone">
          <mat-icon matPrefix>phone</mat-icon>
        </mat-form-field>
        <br />
        <mat-form-field appearance="outline">
          <mat-hint>כתובת</mat-hint>
          <input matInput (focus)="$event.target.select()" [(ngModel)]="newOrganization.Address" name="Address">
          <mat-icon matPrefix>location_city</mat-icon>
        </mat-form-field>
        <br />
        <app-choose-category [chosenC]="categoriesOfOrganization" (selectc)="selectCategories($event)">
        </app-choose-category>
        <br>
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-hint>הערות</mat-hint>
          <textarea matInput (focus)="$event.target.select()" [(ngModel)]="newOrganization.Comments" name="Comments"></textarea>
          <mat-icon matSuffix>comment</mat-icon>
        </mat-form-field>
        <br />
      </div>
      <mat-dialog-actions align="end">
        <button mat-button mat-raised-button mat-dialog-close>ביטול</button>
        <button mat-button mat-raised-button [mat-dialog-close]="token" type="submit">
          <span *ngIf="!data.update">הוספה</span>
          <span *ngIf="data.update">עדכון</span>
        </button>
      </mat-dialog-actions>
    </form>
    <br />
  </mat-dialog-content>
</span>