<nav dir="rtl" class="navbar navbar-expand-lg navbar-dark bg-dark shadow" style="padding: 0;">
    <span fxShow="true" fxHide.lt-md="true">
        <mat-button-toggle-group>
            <mat-button-toggle class="bg-dark" class="bg-dark">
                <span>
                    <button mat-button class="nav-letters bg-dark" [routerLink]='"./"'>מתנס מעלה רמות</button>
                </span>
            </mat-button-toggle>
            <mat-button-toggle class="bg-dark">
                <span>
                    <button mat-button class="nav-letters" [routerLink]='"main"'>ראשי</button>
                </span>
            </mat-button-toggle>
            <mat-button-toggle class="bg-dark">
                <span>
                    <button mat-button [matMenuTriggerFor]="menuT" class="nav-letters">
                        <i class="fa fa-handshake-o" aria-hidden="true"></i>התנדבויות
                    </button>
                    <mat-menu #menuT="matMenu">
                        <button mat-menu-item class="nav-link" [routerLink]="'/list/vaf'"
                            routerLinkActive="activeLink"><i class="fa fa-list"></i> כל ההתנדבויות</button>
                        <button mat-menu-item (click)="ToVolunteeropenDialog()"><i class="fa fa-user-plus">
                            </i> הוספה</button>
                    </mat-menu>
                </span>
            </mat-button-toggle>
            <mat-button-toggle class="bg-dark">
                <span>
                    <button mat-button [matMenuTriggerFor]="menu" class="nav-letters">
                        <i class="fa fa-user"></i>מתנדבות
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item class="nav-link" [routerLink]="'/list/volunteers'"
                            routerLinkActive="activeLink"><i class="fa fa-list"></i> כל המתנדבות</button>
                        <button mat-menu-item (click)="VolunteeropenDialog()"><i class="fa fa-user-plus">
                            </i> הוספה</button>
                    </mat-menu>
                </span>
            </mat-button-toggle>
            <mat-button-toggle class="bg-dark">
                <span>
                    <button mat-button [matMenuTriggerFor]="menuF" class="nav-letters">
                        <i class="fa fa-child"></i>משפחות
                    </button>
                    <mat-menu #menuF="matMenu">
                        <button mat-menu-item class="nav-link" [routerLink]="'/list/families'"
                            routerLinkActive="activeLink"><i class="fa fa-list"></i> כל המשפחות</button>
                        <button mat-menu-item (click)="FamilyopenDialog()"><i class="fa fa-user-plus">
                            </i> הוספה</button>
                    </mat-menu>
                </span>
            </mat-button-toggle>
            <mat-button-toggle class="bg-dark">
                <span>
                    <button mat-button [matMenuTriggerFor]="menuG" class="nav-letters">
                        <i class="fa fa-users"></i>ארגונים
                    </button>
                    <mat-menu #menuG="matMenu">
                        <button mat-menu-item class="nav-link" [routerLink]="'/list/organizations'"
                            routerLinkActive="activeLink"><i class="fa fa-list"></i> כל הארגונים</button>
                        <button mat-menu-item (click)="OrganizationopenDialog()"><i class="fa fa-user-plus">
                            </i> הוספה</button>
                    </mat-menu>
                </span>
            </mat-button-toggle>
            <mat-button-toggle class="bg-dark">
                <span>
                    <button mat-button [matMenuTriggerFor]="menuE" class="nav-letters">
                        <i class="fa fa-calendar-o" aria-hidden="true"></i>ארועים
                    </button>
                    <mat-menu #menuE="matMenu">
                        <button mat-menu-item class="nav-link" [routerLink]="'/list/events'"
                            routerLinkActive="activeLink"><i class="fa fa-list"></i> כל הארועים</button>
                        <button mat-menu-item (click)="EventopenDialog()"><i class="fa fa-user-plus">
                            </i> הוספה</button>
                    </mat-menu>
                </span>
            </mat-button-toggle>
            <mat-button-toggle class="bg-dark"><span><button mat-button class="nav-letters">
                        <a class="nav-link" routerLink="/list/tasks" routerLinkActive="activeLink">
                            מטלות</a>
                    </button></span></mat-button-toggle>
        </mat-button-toggle-group>
    </span>
    <span fxShow="true" fxHide.gt-sm="true">
        <a (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </a>

    </span>
</nav>
<!-- </ul> -->

<mat-sidenav-container dir="rtl" fxFlexFill>
    <mat-sidenav style="background-color: darkslategray;" #sidenav fxLayout="column" mode="over" opened="false"
        fxHide.gt-sm="true">
        <span fxLayout="column">
            <span>
                <button mat-button class="nav-letters" [routerLink]='"./"'>מתנס מעלה רמות</button>
            </span>
            <span>
                <button mat-button class="nav-letters" [routerLink]='"main"'>ראשי</button>
            </span>
            <span>
                <button mat-button [matMenuTriggerFor]="menuT" class="nav-letters">
                    <i class="fa fa-handshake-o" aria-hidden="true"></i>התנדבויות
                </button>
                <mat-menu #menuT="matMenu">
                    <button mat-menu-item class="nav-link" [routerLink]="'/list/vaf'" routerLinkActive="activeLink"><i
                            class="fa fa-list"></i> כל ההתנדבויות</button>
                    <button mat-menu-item (click)="ToVolunteeropenDialog()"><i class="fa fa-user-plus">
                        </i>הוספה</button>
                </mat-menu>
            </span>
            <span>
                <button mat-button [matMenuTriggerFor]="menu" class="nav-letters">
                    <i class="fa fa-user"></i>מתנדבות
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item class="nav-link" [routerLink]="'/list/volunteers'"
                        routerLinkActive="activeLink"><i class="fa fa-list"></i> כל המתנדבות</button>
                    <button mat-menu-item class="nav-link" (click)="VolunteeropenDialog()"><i
                            class="fa fa-user-plus"></i> הוספה</button>
                </mat-menu>
            </span>
            <span>
                <button mat-button [matMenuTriggerFor]="menuF" class="nav-letters">
                    <i class="fa fa-child"></i>משפחות
                </button>
                <mat-menu #menuF="matMenu">
                    <button mat-menu-item class="nav-link" [routerLink]="'/list/families'"
                        routerLinkActive="activeLink"><i class="fa fa-list"></i> כל המשפחות</button>
                    <button mat-menu-item class="nav-link" (click)="FamilyopenDialog()"><i class="fa fa-user-plus"></i>
                        הוספה</button>
                </mat-menu>
            </span>
            <span>
                <button mat-button [matMenuTriggerFor]="menuG" class="nav-letters">
                    <i class="fa fa-users"></i>ארגונים
                </button>
                <mat-menu #menuG="matMenu">
                    <button mat-menu-item class="nav-link" [routerLink]="'/list/organizations'"
                        routerLinkActive="activeLink"><i class="fa fa-list"></i> כל הארגונים</button>
                    <button mat-menu-item (click)="OrganizationopenDialog()"><i class="fa fa-user-plus">
                        </i> הוספה</button>
                </mat-menu>
            </span>
            <span>
                <button mat-button [matMenuTriggerFor]="menuE" class="nav-letters">
                    <i class="fa fa-calendar-o" aria-hidden="true"></i>ארועים
                </button>
                <mat-menu #menuE="matMenu">
                    <button mat-menu-item class="nav-link" [routerLink]="'/list/events'"
                        routerLinkActive="activeLink"><i class="fa fa-list"></i> כל הארועים</button>
                    <button mat-menu-item (click)="EventopenDialog()"><i class="fa fa-user-plus">
                        </i> הוספה</button>
                </mat-menu>
            </span>
            <span><button mat-button class="nav-letters">
                    <a class="nav-link" routerLink="/list/tasks" routerLinkActive="activeLink">
                        מטלות</a>
                </button></span>
        </span>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>