.nav-letters {
    font-size: large;
    color: #fff;
}

.top {
    /* width: 100%; */
    font-size: large;
    height: 50px;
}

.mat-toolbar {
    height: 7vh;
    background-color: darkslategray;
    border-radius: 3px;
}

div {
    overflow: inherit;
}

/* .mat-sidenav-container{
    background-color: lightskyblue;
    min-height: 93vh !important;
  } */

a {
    text-decoration: none;
    font-size: 110%;
    white-space: normal;
}

button {
    /* font-size: 110%; */
    min-width: min-content;
    padding:3px!important;
}

.example-icon {
    padding: 0 14px;
}

.example-spacer {
    flex: 1 1 auto;
}

.mat-sidenav-content {
    font-size: 200%;
    text-align: center;
}

.main {
    min-height: 100%;
    height: 100%;
    width: 100%;
    /* margin-bottom: 10vh; */
    display: table;
    text-align: right;
    position: relative;
}

/* .mat-button-toggle {
    background-color: darkslategray;
    color: white;
  }

  .mat-button-toggle-checked {
    background-color: gray;
    color: black;
  } */

  mat-button-toggle-group {
    box-shadow: none;
  }
  
  mat-button-toggle {
      /* background-color: darkslategray; */
      /* border: 1px solid !important; */
      /* margin-top: 5px !important; */
      padding: 0 1px !important;
  }
  
  mat-button-toggle:hover {
      /* border: 1px solid !important; */
      border-radius: 1px !important;
  }
  
  .mat-button-toggle-checked {
        box-shadow: 0 0 10px 10px  !important;
      border-radius: 1px !important;
      /* background-color: gray !important; */
  }
  
  .mat-button-toggle-input {
      background-color: none !important;
      /* padding-left: 32px !important; */
  }