<mat-card dir="rtl" class="text-right" >
  <mat-toolbar>
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"><i class="fa fa-handshake-o" aria-hidden="true"></i></div>
      <mat-card-title>{{ toVolunteer.DateAdded | date:"MMMM dd yyyy" }}</mat-card-title>
    </mat-card-header>
  </mat-toolbar>
  <mat-card-content>
    <p>קטגוריה: {{ toVolunteer.Category ? toVolunteer.Category.Name: 'אין קטגוריה' }}</p>
    <p>מתנדבת: {{ toVolunteer.Volunteer ? toVolunteer.Volunteer.Name: 'מתנדבת נמחקה' }}</p>
    <p>משפחה: {{ toVolunteer.Family ? toVolunteer.Family.LastName: 'משפחה נמחקה'}}</p>
    <p>תאריך: {{ toVolunteer.DateAdded | date:"MMMM dd yyyy" }}</p>
    <p>הערות: {{ toVolunteer.Comments }}</p>
    <!-- <mat-card-actions>
      <button mat-raised-button (click)="ToVolunteeropenDialog()">לעריכת
        הפרטים</button>
    </mat-card-actions> -->

  </mat-card-content>
</mat-card>