<mat-card dir="rtl">
  <mat-toolbar>
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"><i class="fa fa-user" style="size: 7x;"></i></div>
      <mat-card-title>{{ toVolunteer.DateAdded | date:"MMMM dd yyyy" }}</mat-card-title>
    </mat-card-header>
  </mat-toolbar>
  <mat-card-content>
    <p>קטגוריה: {{ toVolunteer.Category.Name }}</p>
    <p>מתנדבת: {{ toVolunteer.Volunteer.Name }}</p>
    <p>משפחה: {{ toVolunteer.Family.LastName }}</p>
    <p>תאריך: {{ toVolunteer.DateAdded | date:"MMMM dd yyyy" }}</p>
    <p>הערות: {{ toVolunteer.Comments }}</p>
    <mat-card-actions>
      <button mat-raised-button (click)="ToVolunteeropenDialog()">לעריכת
        הפרטים</button>
    </mat-card-actions>

  </mat-card-content>
</mat-card>