<div dir="rtl" class="text-right fullscreen" style="padding-top: 3%">
  <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="3%" fxLayoutAlign="center">
    <div fxFlex="30%">
      <!-- pie chart to show categories in use for volunteers -->
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"><i class="fa fa-user" style="size: 7x;"></i></div>
          <mat-card-title>קטגוריות בשימוש אצל מתנדבות</mat-card-title>
        </mat-card-header>
        <div *ngIf="pieChartData.length == 0">
          <app-spinner></app-spinner>
        </div>
        <div [ngClass]="pieChartData.length > 0 ? 'visible': 'hidden'">
          <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
            [options]="pieChartOptions" [plugins]="pieChartPlugins" [colors]="pieChartColors" [legend]="pieChartLegend">
          </canvas>
        </div>
      </mat-card>
    </div>
    <div fxFlex="30%">
      <!-- pie chart to show categories in use for families -->
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"><i class="fa fa-child"></i></div>
          <mat-card-title>קטגוריות בשימוש אצל משפחות</mat-card-title>
        </mat-card-header>
        <div *ngIf="pieChartDataF.length == 0">
          <app-spinner></app-spinner>
        </div>
        <div [ngClass]="pieChartDataF.length > 0 ? 'visible': 'hidden'">
          <canvas baseChart [data]="pieChartDataF" [labels]="pieChartLabelsF" [chartType]="pieChartType"
            [options]="pieChartOptions" [plugins]="pieChartPlugins" [colors]="pieChartColors" [legend]="pieChartLegend">
          </canvas></div>
      </mat-card>
    </div>
    <div fxFlex="30%">
      <!-- pie chart to show volunteers active / inactive -->
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"><i class="fa fa-user"></i></div>
          <mat-card-title>מתנדבות פעילות/לא פעילות</mat-card-title>
        </mat-card-header>
        <div *ngIf="pieChartDataA.length == 0">
          <app-spinner></app-spinner>
        </div>
        <div [ngClass]="pieChartDataA.length > 0 ? 'visible': 'hidden'">
          <canvas baseChart [data]="pieChartDataA" [labels]="pieChartLabelsA" [chartType]="pieChartType"
            [options]="pieChartOptions" [plugins]="pieChartPlugins" [colors]="pieChartColors" [legend]="pieChartLegend">
          </canvas></div>
      </mat-card>
    </div>
  </div>
  <br>
  <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="3%" fxLayoutAlign="center">
    <div fxFlex="40%">
      <!-- graph to show timeline of volunteerings -->
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"><i class="fa fa-exclamation" style="size: 7px;"></i></div>
          <mat-card-title>פעולות במשך הזמן</mat-card-title>
        </mat-card-header>
        <div *ngIf="pieChartData.length == 0">
          <app-spinner></app-spinner>
        </div>
        <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
          [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
        </canvas>
      </mat-card>
    </div>
    <div fxFlex="40%">
      <!-- polar area chart to show count of each object in system -->
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"><i class="fa fa-bullseye" style="size: 7px;"></i></div>
          <mat-card-title>התפלגות במערכת</mat-card-title>
        </mat-card-header>
        <div *ngIf="pieChartData.length == 0">
          <app-spinner></app-spinner>
        </div>
        <canvas baseChart [data]="polarAreaChartData" [labels]="polarAreaChartLabels" [legend]="polarAreaLegend"
          [chartType]="polarAreaChartType" [colors]="polarAreaChartColors">
        </canvas>
      </mat-card>
    </div>
  </div>
  <br>
</div>