.fullscreen {
    width: 100%;
    position: relative;
    height: calc(93vh - 50px);
    background-color: gray;
    opacity: .7;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .hero {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 3px 3px 0 rgba(0,0,0,.75);
      -webkit-transform: translate3d(-50%,-50%,0);
         -moz-transform: translate3d(-50%,-50%,0);
          -ms-transform: translate3d(-50%,-50%,0);
           -o-transform: translate3d(-50%,-50%,0);
              transform: translate3d(-50%,-50%,0);
}
.hero h1 {
    font-size: 4em;    
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.hero h2 {
  font-size: 2em;
  margin: 0;
  padding: 0;
}