<div style="padding: 1%;">
  <mat-card class="mat-elevation-z2">
    <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
      <!-- Overlay -->
      <div class="overlay"></div>
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item slides active">
          <div class="slide-2"></div>
          <div class="hero">
            <h1>ברוכים הבאים למתנס מעלה רמות</h1>
            <h3>ארגון חסד קהילתי</h3>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
</div>