<div class="mat-elevation-z2" style="padding: 1%;">
  <mat-card [ngClass]="!error? 'fullscreen': 'hidden'">
    <div [ngClass]="loaded && !notFound? 'visible': 'hidden'">
      <mat-card-header>
        <mat-toolbar-row>
          <mat-form-field style="display: table">
            <mat-label>&nbsp;חיפוש</mat-label>
            <input matInput (focus)="$event.target.select()" (keyup)="applyFilter($event.target.value)">
            <i matPrefix class="fa fa-search" aria-hidden="true"></i>
          </mat-form-field>
          <span class="example-spacer"></span>
          <div class="example-header-image" mat-card-avatar matTooltip="הורדה לקובץ אקסל" (click)="exportTableToExcel()" *ngIf="!vId">
            <i class="fa fa-file-excel-o" aria-hidden="true"></i>
          </div>
        </mat-toolbar-row>
      </mat-card-header>
      <mat-card-content>
        <span [ngClass]="(dataSource.filteredData.length > 0) && loaded ? 'visible': 'hidden'">
          <table mat-table matSort multiTemplateDataRows [dataSource]="dataSource" class="mat-elevation-z4">
            <ng-container matColumnDef="NameVolunteer">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> מתנדבת </th>
              <td mat-cell *matCellDef="let element"> {{element.NameVolunteer}} </td>
            </ng-container>
            <ng-container matColumnDef="NameFamily">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> משפחת </th>
              <td mat-cell *matCellDef="let element"> {{element.NameFamily}} </td>
            </ng-container>
            <ng-container matColumnDef="Category">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> קטגוריה </th>
              <td mat-cell *matCellDef="let element"> {{element.Category}} </td>
            </ng-container>
            <ng-container matColumnDef="PelephoneVolunteer">
              <th mat-header-cell *matHeaderCellDef> פלאפון </th>
              <td mat-cell *matCellDef="let element"> {{element.PelephoneVolunteer}} </td>
            </ng-container>
            <ng-container matColumnDef="date">
              <th mat-header-cell *matHeaderCellDef> תאריך התנדבות </th>
              <td mat-cell *matCellDef="let element"> {{element.DateVolunteer}} </td>
            </ng-container>
            <ng-container *ngIf="!vId" matColumnDef="columndelete">
              <th mat-header-cell *matHeaderCellDef>מחיקה </th>
              <td mat-cell *matCellDef="let element">
                <h5 (click)="$event.stopPropagation();delete(element)"><i class="fa fa-trash"></i>
                </h5>
            </ng-container>
            <ng-container matColumnDef="expandedDetail">
              <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
                <div class="example-element-detail" [@detailExpand]="
                      element == expandedElement ? 'expanded' : 'collapsed'
                    ">
                  <div id="bloc_container" class="example-element-description">
                    <app-to-volunteer id="bloc1" [vId]="element.Id" [toV]=true></app-to-volunteer>
                    <app-volunteer id="bloc2" [vId]="element.IdVolunteer" [toV]=true></app-volunteer>
                    <app-family id="bloc3" [vId]="element.IdFamily" [toV]=true></app-family>
                    <span class="example-element-description-attribution">
                    </span>
                  </div>
                </div>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let element; columns: displayedColumns" class="example-element-row"
              [class.example-expanded-row]="expandedElement === element" (click)="
                  expandedElement = expandedElement === element ? null : element
                "></tr>
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
          </table>
          <mat-paginator class="marginless-paginator-range-label" #paginator [pageSizeOptions]="[5, 10, 20]"
            showFirstLastButtons></mat-paginator>
        </span>
        <router-outlet></router-outlet>
      </mat-card-content>
    </div>
    <div *ngIf="!error && !loaded" style="height: calc(93vh - (50px + 50px));">
            <app-spinner></app-spinner>
    </div>
    <span *ngIf="notFound" class="text-center">
      <mat-error>לא נמצאו התנדבויות</mat-error>
    </span>
  </mat-card>
  </div>
<mat-card *ngIf="error && loaded" class="fullscreen text-center" [ngClass]="error && loaded? 'visible': 'hidden'">
  <app-error></app-error>
</mat-card>