<div dir="rtl" class="card">
    <form (ngSubmit)="submitForm(TaskForm)" class="text-right" #TaskForm="ngForm">
      <div class="form-group">
        <label>תאור:
          <input class="form-control form-control-sm" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
            [(ngModel)]="newTask.description" name="description" required>
        </label>
       <br>
        <label> תאריך:
          <input class="form-control form-control-sm" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
            type="date" [(ngModel)]="newTask.date" name="date">
        </label>
        <br>
      </div>
      <button class="btn btn-primary" type="submit" >להוספת המטלה</button>
      <!-- [disabled]="TaskForm.invalid" -->
    </form>
    <span *ngIf="TaskForm.submitted">
      {{TaskForm.value | json}}
    </span>
  </div>
