<span dir="rtl" style="direction: rtl">
    <app-organization style="display: inline-block; padding: 5px;vertical-align: top" [vId]="selectedOrganization.Id"
        [toV]=true>
    </app-organization>
    <span style="display: inline-block;padding: 5px;vertical-align: top; text-align: right;">
        <form (ngSubmit)="submitForm(categoryForm)" class="text-right" #categoryForm="ngForm">
            <h6>משפחות מתאימות ע"פ קטגוריות ארגון:</h6>
            <mat-selection-list name="familiesselected" [(ngModel)]="selectedFamilies" (ngModelChange)="onSelection($event)" #familiesS
                *ngIf="families.length > 0">
                <mat-list-option [value]="family" *ngFor="let family of families">
                    {{family.LastName}}
                </mat-list-option>
            </mat-selection-list>
            <mat-dialog-actions align="end">
                <button mat-button mat-raised-button mat-dialog-close>ביטול</button>
                <button mat-button mat-raised-button type="submit">
                    <span>להוספת משפחות לארגון</span>
                </button>
            </mat-dialog-actions>
        </form>
    </span>
</span>