<mat-dialog-content>
    <span *ngIf="data.organization" dir="rtl" style="direction: rtl">
      <span class="object-style">
        <app-organization [vId]="data.id" [toV]=true>
        </app-organization>
      </span>
      <span class="object-style">
        <h6>בחירת קטגוריה</h6>
        <mat-radio-group class="example-radio-group" [(ngModel)]="selectedCategories"
          (ngModelChange)="onSelectionC($event)">
          <mat-radio-button class="example-radio-button" [checked]="true" checkboxPosition="before">
            כל הקטגוריות
          </mat-radio-button>
          <mat-radio-button class="example-radio-button" checkboxPosition="before" [value]="cat"
            *ngFor="let cat of objectCategories">
            {{cat.Name}}
          </mat-radio-button>
        </mat-radio-group>
      </span>
      <span class="fill-form">
        <form (ngSubmit)="submitForm(categoryForm)" class="text-right" #categoryForm="ngForm">
          <h6>משפחות מתאימות ע"פ הקטגוריות:</h6>
          <mat-selection-list name="familiesselected" [(ngModel)]="selectedFamilies"
            (ngModelChange)="onSelection($event)" #volunteersS *ngIf="families.length > 0">
            <mat-list-option checkboxPosition="before" [value]="family" *ngFor="let family of families">
              {{family.LastName}}
            </mat-list-option>
          </mat-selection-list>
          <mat-dialog-actions align="end">
            <button mat-button mat-raised-button mat-dialog-close>ביטול</button>
            <button mat-button mat-raised-button type="submit"
              [disabled]="selectedFamilies.length == 0">
              <span>להוספת משפחות לארגון</span>
            </button>
          </mat-dialog-actions>
        </form>
      </span>
    </span>
  </mat-dialog-content>