<!-- <form (ngSubmit)="submitForm()" class="tabs-wrapper text-right" dir="rtl">
  <mat-toolbar>
    <span>התנדבות חדשה</span>
    <span *ngIf="selectedCategory && selectedFamily && selectedVolunteer" class="example-spacer"></span>
    <button mat-fab color="primary" *ngIf="selectedCategory && selectedFamily && selectedVolunteer" type="button"
      (click)="submitForm()">
      <span>שמירה</span>
    </button>
  </mat-toolbar>
  <div>
    <br>
    <button *ngIf="false" (click)="tabs.selectedIndex = 0">RESET</button>
    <mat-tab-group mat-stretch-tabs="always" [selectedIndex]=1 (selectedTabChange)="onTabChange($event)" #tabs>
      <mat-tab></mat-tab>
      <mat-tab class="mat-elevation-z4" label="לפי קטגוריה">
        <mat-form-field>
          <mat-label>לבחירת קטגוריה</mat-label>
          <mat-select [(value)]="selectedCategory" (selectionChange)="onChangeCtegory(1)">
            <mat-option>None</mat-option>
            <div *ngFor="let c of categories">
              <mat-option [value]="c">{{c.Name}}</mat-option>
            </div>
          </mat-select>
        </mat-form-field>
        &nbsp;
        <mat-form-field *ngIf="selectedCategory && this.volunteers.length > 0">
          <mat-label>לבחירת מתנדבת</mat-label>
          <mat-select [(value)]="selectedVolunteer" (selectionChange)="volunteerChanged(1)">
            <mat-option>None</mat-option>
            <div *ngFor="let v of volunteers">
              <mat-option [value]="v">{{v.Name}}, {{v.Pelephone}}</mat-option>
            </div>
          </mat-select>
        </mat-form-field>
        &nbsp;
        <mat-form-field *ngIf="selectedVolunteer && selectedCategory">
          <mat-label>לבחירת משפחה</mat-label>
          <mat-select [(value)]="selectedFamily" (selectionChange)="onChangeFamily(1)">
            <mat-option>None</mat-option>
            <div *ngFor="let f of families">
              <mat-option [value]="f">{{f.LastName}}, {{f.FirstNameFather}} ו{{f.FirstNameMother}}, {{f.Telephone}}
              </mat-option>
            </div>
          </mat-select>
        </mat-form-field>
      </mat-tab>

      <mat-tab label="לפי מתנדבת" class="mat-elevation-z4">
        <mat-form-field>
          <mat-label>לבחירת מתנדבת</mat-label>
          <mat-select [(value)]="selectedVolunteer" (selectionChange)="volunteerChanged(2)">
            <mat-option>None</mat-option>
            <div *ngFor="let v of volunteers">
              <mat-option [value]="v">{{v.Name}}, {{v.Pelephone}}</mat-option>
            </div>
          </mat-select>
        </mat-form-field>
        &nbsp;
        <mat-form-field *ngIf="selectedVolunteer">
          <mat-label>לבחירת קטגוריה</mat-label>
          <mat-select [(value)]="selectedCategory" (selectionChange)="onChangeCtegory(2)">
            <mat-option>None</mat-option>
            <div *ngFor="let c of categories">
              <mat-option [value]="c">{{c.Name}}</mat-option>
            </div>
          </mat-select>
        </mat-form-field>
        &nbsp;
        <mat-form-field *ngIf="selectedCategory && selectedVolunteer">
          <mat-label>לבחירת משפחה</mat-label>
          <mat-select [(value)]="selectedFamily" (selectionChange)="onChangeFamily(2)">
            <mat-option>None</mat-option>
            <div *ngFor="let f of families">
              <mat-option [value]="f">{{f.LastName}}, {{f.FirstNameFather}} ו{{f.FirstNameMother}}, {{f.Telephone}}
              </mat-option>
            </div>
          </mat-select>
        </mat-form-field>
      </mat-tab>

      <mat-tab label="לפי משפחה" class="mat-elevation-z4">
        <mat-form-field>
          <mat-label>לבחירת משפחה</mat-label>
          <mat-select [(value)]="selectedFamily" (selectionChange)="onChangeFamily(3)">
            <mat-option>None</mat-option>
            <div *ngFor="let f of families">
              <mat-option [value]="f">{{f.LastName}}, {{f.FirstNameFather}} ו{{f.FirstNameMother}}, {{f.Telephone}}
              </mat-option>
            </div>
          </mat-select>
        </mat-form-field>
        &nbsp;
        <mat-form-field *ngIf="selectedFamily">
          <mat-label>לבחירת קטגוריה</mat-label>
          <mat-select [(value)]="selectedCategory" (selectionChange)="onChangeCtegory(3)">
            <mat-option>None</mat-option>
            <div *ngFor="let c of categories">
              <mat-option [value]="c">{{c.Name}}</mat-option>
            </div>
          </mat-select>
        </mat-form-field>
        &nbsp;
        <mat-form-field *ngIf="selectedFamily && selectedCategory">
          <mat-label>לבחירת מתנדבת</mat-label>
          <mat-select [(value)]="selectedVolunteer" (selectionChange)="volunteerChanged(3)">
            <mat-option>None</mat-option>
            <div *ngFor="let v of volunteers">
              <mat-option [value]="v">{{v.Name}}, {{v.Pelephone}}</mat-option>
            </div>
          </mat-select>
        </mat-form-field>
      </mat-tab>
    </mat-tab-group>
  </div>
</form>
<br /> -->

<span *ngIf="data.family" dir="rtl" style="direction: rtl">
  <app-family class="object-style" [vId]="data.id"
      [toV]=true>
  </app-family>
  <span class="fill-form">
      <form (ngSubmit)="submitFormF(categoryForm)" class="text-right" #categoryForm="ngForm">
          <h6>מתנדבות מתאימות ע"פ קטגוריות משפחה:</h6>
          <mat-selection-list name="volunteersselected" [(ngModel)]="selectedVolunteers"
          (ngModelChange)="onSelection($event)" #volunteersS *ngIf="volunteers.length > 0">
          <mat-list-option checkboxPosition="before"[value]="volunteer" *ngFor="let volunteer of volunteers">
              {{volunteer.Name}}
          </mat-list-option>
      </mat-selection-list>
          <mat-dialog-actions align="end">
              <button mat-button mat-raised-button mat-dialog-close>ביטול</button>
              <button mat-button mat-raised-button type="submit">
                  <span>להוספת מתנדבות למשפחה</span>
              </button>
          </mat-dialog-actions>
      </form>
  </span>
</span>

<span *ngIf="data.volunteer" dir="rtl" style="direction: rtl">
  <app-volunteer class="object-style" [vId]="data.id"
      [toV]=true>
  </app-volunteer>
  <span class="fill-form">
      <form (ngSubmit)="submitFormV(categoryForm)" class="text-right" #categoryForm="ngForm">
          <h6>משפחות מתאימות ע"פ קטגוריות מתנדבת:</h6>
          <mat-selection-list name="familiesselected" [(ngModel)]="selectedFamilies"
          (ngModelChange)="onSelection($event)" #familiesS *ngIf="families.length > 0">
          <mat-list-option checkboxPosition="before"[value]="family" *ngFor="let family of families">
              {{family.LastName}}
          </mat-list-option>
      </mat-selection-list>
          <mat-dialog-actions align="end">
              <button mat-button mat-raised-button mat-dialog-close>ביטול</button>
              <button mat-button mat-raised-button type="submit">
                  <span>להוספת משפחות למתנדבת</span>
              </button>
          </mat-dialog-actions>
      </form>
  </span>
</span>