<div dir="rtl" class="text-right" style="padding-top: 1%">
  <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="3%" fxLayoutAlign="right">
    <div [fxFlex]="toV ? large : smallest">
      <mat-card>
        <mat-toolbar>
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"><i class="fa fa-child"></i></div>
            <mat-card-title>{{ family.LastName }}</mat-card-title>
          </mat-card-header>
        </mat-toolbar>
        <mat-card-content>
          <span>אב: {{ family.FirstNameFather }}</span>
          <span>אם: {{ family.FirstNameMother }}</span>
          <p></p>
          <p>טלפון: {{ family.Telephone }}</p>
          <p>פלאפון אב: {{ family.PelephoneFather | phone }}</p>
          <p>פלאפון אם: {{ family.PelephoneMother | phone }}</p>
          <p>כתובת: {{ family.Address }}</p>
          <p>סטטוס: {{ family.Status }}</p>
          <p>מספר ילדים: {{ family.NumChildren }}</p>
          <p>מפנה: {{ family.Reference }}</p>
          <p>סיבת ההפניה: {{ family.Reason }}</p>
          <header *ngIf="categories.length > 0">קטגוריות</header>
          <div *ngFor="let c of categories">
            <li>
              {{c.Name}}</li>
          </div>
          <mat-card-actions>
            <button mat-raised-button class="example-action-button" (click)="FamilyopenDialog()">לעריכת
              הפרטים</button>
          </mat-card-actions>

        </mat-card-content>
      </mat-card>
    </div>
    <mat-card *ngIf="toV != true" [fxFlex]="toV ? largest : small">
      <button *ngIf="false" (click)="tabs.selectedIndex = 0">RESET</button>
      <mat-tab-group [selectedIndex]=1 dir="rtl" (selectedTabChange)="onTabChange($event)" #tabs>
        <mat-tab></mat-tab> <!-- ADDITIONAL TAB -->
        <mat-tab label="מתנדבות">
          <app-all-volunteers *ngIf="showVolunteer" dir="rtl" [vId]="vId" [where]=2></app-all-volunteers>
        </mat-tab>
        <mat-tab label="התנדבויות">
          <app-all-to-volunteers *ngIf="showVolunteerings" dir="rtl" [vId]="vId" [where]=2></app-all-to-volunteers>
        </mat-tab>
        <mat-tab label="ארועים">
          <app-all-events *ngIf="showEvent" dir="rtl"></app-all-events>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
  </div>
</div>