<div dir="rtl" class="text-right" style="padding-top: 1%">
  <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="3%" fxLayoutAlign="center">
    <!-- <div fxFlex="20%"> -->
      <mat-card>
        <mat-toolbar>
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"><mat-icon>child_friendly</mat-icon></div>
          <mat-card-title>{{ family.LastName }}</mat-card-title>
        </mat-card-header>
      </mat-toolbar>
        <mat-card-content>
          <span>אב: {{ family.FirstNameFather }}</span>&nbsp;
          <span>אם: {{ family.FirstNameMother }}</span>
          <p></p>
          <p>טלפון: {{ family.Telephone }}</p>
          <p>פלאפון אב: {{ family.PelephoneFather | phone }}</p>
          <p>פלאפון אם: {{ family.PelephoneMother | phone }}</p>
          <p>כתובת: {{ family.Address }}</p>
          <p>סטטוס: {{ family.Status }}</p>
          <p>מספר ילדים: {{ family.NumChildren }}</p>
          <p>מפנה: {{ family.Reference }}</p>
          <p>סיבת ההפניה: {{ family.Reason }}</p>
          <header *ngIf="categories.length > 0">קטגוריות</header>
          <div *ngFor="let c of categories">
            <li>
              {{c.Name}}</li>
          </div>
          <mat-card-actions>
            <button mat-raised-button class="example-action-button" (click)="FamilyopenDialog()">לעריכת
              הפרטים</button>
          </mat-card-actions>

        </mat-card-content>
      </mat-card>
    <!-- </div> -->
    <div *ngIf="toV != true">
      <button hidden (click)="tabs.selectedIndex = 0">RESET</button>
      <mat-tab-group #tabs>
        <mat-tab></mat-tab> <!-- ADDITIONAL TAB -->
        <mat-tab label="מתנדבות">
          <app-all-volunteers [vId]="vId"></app-all-volunteers>
        </mat-tab>
        <mat-tab label="ארגונים">
          <app-all-organizations></app-all-organizations>
        </mat-tab>
        <mat-tab label="ארועים">
          <app-all-events></app-all-events>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>