<div class="mat-elevation-z2" style="padding: 1%;">
  <mat-card [ngClass]="!error? 'fullscreen': 'hidden'">
    <div [ngClass]="loaded &&!notFound? 'visible': 'hidden'">
      <mat-card-header>
        <mat-toolbar-row>
          <mat-form-field style="display: table">
            <mat-label>&nbsp;חיפוש</mat-label>
            <input matInput (focus)="$event.target.select()" (keyup)="applyFilter($event.target.value)">
            <i matPrefix class="fa fa-search" aria-hidden="true"></i>
          </mat-form-field>
          <span class="example-spacer"></span>
          <div class="example-header-image" mat-card-avatar matTooltip="הורדה לקובץ אקסל" (click)="exportTableToExcel()"
            *ngIf="!vId">
            <i class="fa fa-file-excel-o" aria-hidden="true"></i>
          </div>
          <span class="example-spacer"></span>
          <button style="visibility: hidden;"></button>
          <div mat-card-avatar matTooltip="העלאת קובץ אקסל"  *ngIf="!vId" onclick="document.getElementById('fileToUpload').click()"><i
              matPrefix class="fa fa-upload" aria-hidden="true"></i></div>
          <input mat-input type="file" id="fileToUpload" style="display:none;" (change)="uploadedFile($event)"
            placeholder="Upload file" accept=".xlsx">
        </mat-toolbar-row>
      </mat-card-header>
      <mat-card-content>
        <span>
          <table mat-table multiTemplateDataRows [dataSource]="dataSource" matSort class="mat-elevation-z4">
            <ng-container matColumnDef="LastName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> שם משפחה </th>
              <td mat-cell *matCellDef="let element"> {{element.LastName}} </td>
            </ng-container>
            <ng-container matColumnDef="Address">
              <th mat-header-cell *matHeaderCellDef> כתובת </th>
              <td mat-cell *matCellDef="let element"> {{element.Address}} </td>
            </ng-container>
            <ng-container matColumnDef="Telephone">
              <th mat-header-cell *matHeaderCellDef> טלפון </th>
              <td mat-cell *matCellDef="let element"> {{element.Telephone}} </td>
            </ng-container>
            <ng-container matColumnDef="NumChildren">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> מס' ילדים </th>
              <td mat-cell *matCellDef="let element"> {{element.NumChildren}} </td>
            </ng-container>
            <ng-container matColumnDef="Status">
              <th mat-header-cell *matHeaderCellDef> סטטוס </th>
              <td mat-cell *matCellDef="let element"> {{element.Status}} </td>
            </ng-container>
            <ng-container matColumnDef="Reference">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> הפניה </th>
              <td mat-cell *matCellDef="let element"> {{element.Reference}} </td>
            </ng-container>
            <ng-container matColumnDef="showDetails">
              <th mat-header-cell *matHeaderCellDef>פרטים </th>
              <td mat-cell *matCellDef="let element">
                <h5>
                  <i class="fa fa-caret-down"></i>
                </h5>
              </td>
            </ng-container>
            <ng-container *ngIf="!vId" matColumnDef="columndelete">
              <th mat-header-cell *matHeaderCellDef>מחיקה </th>
              <td mat-cell *matCellDef="let element">
                <h5 (click)="delete(element)"><i class="fa fa-trash"></i>
                </h5>
              </td>
            </ng-container>
            <ng-container matColumnDef="expandedDetail">
              <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
                <div class="example-element-detail" [@detailExpand]=" 
                      element == expandedElement ? 'expanded' : 'collapsed'
                    ">
                  <div *ngIf="element.show" class="example-element-description">
                    <app-family *ngIf="!vId" (addedFamily)="updateTable($event)" [vId]="element.Id">
                    </app-family>
                    <span class="example-element-description-attribution">
                    </span>
                  </div>
                </div>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let element; columns: displayedColumns" class="example-element-row"
              [class.example-expanded-row]="expandedElement === element" (click)="showDetails(element);vId ? null: 
                  expandedElement = expandedElement === element ? null : element
                "></tr>
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
          </table>
          <mat-paginator class="marginless-paginator-range-label" #paginator [pageSizeOptions]="[5, 10, 20]"
            showFirstLastButtons></mat-paginator>
        </span>
        <router-outlet></router-outlet>
      </mat-card-content>
    </div>
    <div *ngIf="!error && !loaded" style="height: calc(93vh - (50px + 50px));"
      style="height: calc(93vh - (50px + 50px));">
      <app-spinner></app-spinner>
    </div>
    <span *ngIf="notFound" class="text-center">
      <mat-error>לא נמצאו משפחות </mat-error>
    </span>
  </mat-card>
</div>
<mat-card *ngIf="error && loaded" class="fullscreen text-center" [ngClass]="error && loaded? 'visible': 'hidden'">
  <app-error></app-error>
</mat-card>