<div style="padding: 2%;">
  <div class="row">
    <div class="col">
      <div dir="rtl" class="card">
        <div class="card-header">
          <div class="row">
            <div class="col">
              <input type="text" placeholder="לחיפוש..." [(ngModel)]="search" />
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="example-table-container mat-elevation-z8">
            <table mat-table multiTemplateDataRows [dataSource]="dataSource">
              <ng-container matColumnDef="Name">
                <th mat-header-cell *matHeaderCellDef> שם </th>
                <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
              </ng-container>
              <ng-container matColumnDef="Address">
                <th mat-header-cell *matHeaderCellDef> כתובת </th>
                <td mat-cell *matCellDef="let element"> {{element.Address}} </td>
              </ng-container>
              <ng-container matColumnDef="Pelephone">
                <th mat-header-cell *matHeaderCellDef> פלאפון </th>
                <td mat-cell *matCellDef="let element"> {{element.Pelephone}} </td>
              </ng-container>
              <ng-container matColumnDef="Email">
                <th mat-header-cell *matHeaderCellDef> מייל </th>
                <td mat-cell *matCellDef="let element"> {{element.Email}} </td>
              </ng-container>
              <ng-container matColumnDef="Age">
                <th mat-header-cell *matHeaderCellDef> גיל </th>
                <td mat-cell *matCellDef="let element"> {{CalculateAge(element)}} </td>
              </ng-container>
              <ng-container matColumnDef="IsActive">
                <th mat-header-cell *matHeaderCellDef> פעילה? </th>
                <td mat-cell *matCellDef="let element">
                  <div *ngIf="element.IsActive">
                    <i class="fad fa-camera"></i> <!-- a duotone style camera icon -->
                  </div>
                  <!-- <input type="checkbox" disabled="true"
                    checked={{element.IsActive}}>  -->
                  </td>
              </ng-container>
              <!-- Expanded Content Column - The detail row is made up of this one column -->
              <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
                  <div class="example-element-detail" [@detailExpand]="
                      element == expandedElement ? 'expanded' : 'collapsed'
                    ">
                    <div class="example-element-description">
                      <app-volunteer [vId]="element.Id"></app-volunteer>
                      <span class="example-element-description-attribution">
                      </span>
                    </div>
                  </div>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let element; columns: displayedColumns" class="example-element-row"
                [class.example-expanded-row]="expandedElement === element" (click)="
                  expandedElement = expandedElement === element ? null : element
                "></tr>
              <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
            </table>
            <mat-spinner *ngIf="!resultsLength"></mat-spinner>
            <!-- </div> -->
            <mat-paginator class="marginless-paginator-range-label" #paginator [pageIndex]="0" [pageSize]="5"
              [pageSizeOptions]="[1, 5, 10, 20]">
            </mat-paginator>
          </div>
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div dir="rtl" class="card">
        <div class="card-header">להוספת מתנדבת</div>
        <div class="card-body">
          <app-volunteer-f (addedVolunteer)="newVolunteer($event)"></app-volunteer-f>
        </div>
      </div>
    </div>
  </div>
</div>