<div class="card">
  <div class="card-header">
    <h2>משימה מס': {{ num + 1 }}</h2>
    <h4>תיאור: {{ task.description }}</h4>
  </div>
  <div class="card-body">
    <h5>תאריך: {{ task.date }}</h5>
    <h6 class="card-text" *ngIf="commend.length > 0">הערות : {{ commend }}</h6>
    האם בוצעה?<input
      type="checkbox"
      (change)="onChckbokChange()"
      [(ngModel)]="task.isDone"
    />
    <br />
    <button (click)="taskDelete()" [disabled]="!task.isDone" class="btn btn-primary">הסרה</button>
  </div>
</div>
