<div dir="rtl" class="text-right" style="padding-top: 3%">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <div class="card">
          <div class="card-header">
            <h4>משפחת: {{ family.LastName }}</h4>
          </div>
          <div class="card-body">
            <div class="card-text">
              <p>שם פרטי אב: {{ family.FirstNameFather }}</p>
              <p>שם פרטי אם: {{ family.FirstNameMother }}</p>
              <p>שם משפחה: {{ family.LastName }}</p>
              <p>טלפון: {{ family.Telephone }}</p>
              <p>פלאפון אב: {{ family.PelephoneFather | phone }}</p>
              <p>פלאפון אם: {{ family.PelephoneMother | phone }}</p>
              <p>כתובת: {{ family.Address }}</p>
              <p>סטטוס: {{ family.Status }}</p>
              <p>מספר ילדים: {{ family.NumChildren }}</p>
              <p>מפנה: {{ family.Reference }}</p>
              <p>סיבת ההפניה: {{ family.Reason }}</p>
              <div *ngFor="let c of categories">
                {{c.Name}}
              </div>
            </div>
            <p class="card-text"></p>
            <button class="btn btn-primary" (click)="FamilyopenDialog()">לעריכת הפרטים</button>
          </div>
        </div>
      </div>
      <div dir="rtl" class="col-8 card">
        <nav class="navbar navbar-expand-md static-top">
          <div dir="rtl" class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav nav-tabs">
              <li class="nav-item active " (click)="chooseTab='volunteers'">
                <a class="nav-link">
                  <h3>מתנדבות</h3>
                </a>
              </li>
              <li class="nav-item" (click)="chooseTab='organizations'">
                <a class="nav-link">
                  <h3>ארגונים</h3>
                </a>
              </li>
              <li class="nav-item " (click)="chooseTab='events'">
                <a class="nav-link">
                  <h3>ארועים</h3>
                </a>
              </li>
            </ul>
          </div>
        </nav>
        <app-all-volunteers *ngIf="chooseTab=='volunteers'" [vId]="fId"></app-all-volunteers>
        <app-all-organizations *ngIf="chooseTab=='organizations'"></app-all-organizations>
        <app-all-events *ngIf="chooseTab=='events'"></app-all-events>
      </div>
    </div>
  </div>
</div>