<div dir="rtl">
  <form
    (ngSubmit)="submitForm(volunteerForm)"
    class="text-right"
    #volunteerForm="ngForm"
  >
    <div class="form-group">
      <label>
       שם :
        <input
        [ngClass]="newVolunteer.Name.length > 1 ? '' : 'tooShort'"
          class="form-control form-control-sm"
          aria-label="Small"
          aria-describedby="inputGroup-sizing-sm"
          [(ngModel)]="newVolunteer.Name"
          name="Name"
          required
        />
      </label>
      <br />
      <br />
      <label>
        מייל:
        <input
          class="form-control form-control-sm"
          aria-label="Small"
          type="email"
          aria-describedby="inputGroup-sizing-sm"
          email
          [(ngModel)]="newVolunteer.Email"
          name="Email"
        />
      </label>
      <br />
      <label>
        טלפון:
        <input
          class="form-control form-control-sm"
          aria-label="Small"
          aria-describedby="inputGroup-sizing-sm"
          appPhoneMask
          [(ngModel)]="newVolunteer.Pelephone"
          name="Pelephone"
        />
      </label>
      <br />
      <label>
        פלאפון:
        <input
          class="form-control form-control-sm"
          aria-label="Small"
          aria-describedby="inputGroup-sizing-sm"
          appPhoneMask
          [(ngModel)]="newVolunteer.Telephone"
          name="Telephone"
        />
      </label>
      <br />
      <label>
        כתובת:
        <input
          class="form-control form-control-sm"
          aria-label="Small"
          aria-describedby="inputGroup-sizing-sm"
          [(ngModel)]="newVolunteer.Address"
          name="Address"
        />
      </label>
      <br />
      <label> תאריך לידה:</label>
      <input
        class="form-control form-control-sm"
        aria-label="Small"
        aria-describedby="inputGroup-sizing-sm"
        type="date"
        [(ngModel)]="newVolunteer.Age"
        name="Age"
      />
      <br />
    </div>
    <button
      class="btn btn-primary"
      type="submit"
      [disabled]="volunteerForm.invalid"
    >
      להוספת המתנדב
    </button>
  </form>
  <span *ngIf="volunteerForm.submitted">
    {{ volunteerForm.value | json }}
  </span>
  <br />
</div>