<div class="row" style="padding-top: 2%">
    <div class="col-3"style="padding-right: 5%">
      <div class="card" >
        <div class="card-header"><h1>להוספת משימה</h1></div>
        <div class="card-body">
          <p class="card-text">
            <app-task-f (mySend)="newTask($event)"></app-task-f>
          </p>
        </div>
      </div>
    </div>
    <div class="col-1"></div>
    <div class="col">
      <h1>מספר משימות לביצוע: {{ sumDone }}</h1>
<div dir="rtl" class="card">
  <div class="card-group">
    <div class="card">
      <div class="card-body">
          <app-my-task
            *ngFor="let i = index; let t; of: tasks"
            class="list-group-flush text-right"
            [num]="i"
            [task]="t"
            (undone) = "taskUnDone($event)"
            (done)="taskDone($event)"
            (deleted)="deleteTask($event)"
          ></app-my-task>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <p class="card-text">
          <app-task-f (mySend)="newTask($event)"></app-task-f>
        </p>
      </div>
    </div>
  </div>
  <div class="col-1"></div>
  <router-outlet></router-outlet>
</div>
